<input type="checkbox" name="isDone" {{#if todo.isDone }} checked {{/if}} disabled>
{{todo.name}}
<a href="/todos/{{todo._id}}/edit">修改</a>
<a href="/">回首頁</a>
<form action="/todos/{{todo._id}}/delete" method="post" style="display:inline;">
  <button type="submit">刪除</button>
</form>