<form action="/todos/{{todo._id}}?_method=put" method="post">
  <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}}>
  <input type="text" placeholder="請輸入待辦事項..." name="name" value="{{todo.name}}">
  <button type="submit">儲存</button>
  <a href="/">回首頁</a>
</form>