<a href="/todos/new">建立待辦事項</a>
<ul>
  {{#each todos}}
  <li>
    <input type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}} disabled>
    {{this.name}}
    <a href="/todos/{{this._id}}">詳細資料</a>
    <a href="/todos/{{this._id}}/edit">修改</a>
    <form action="/todos/{{this._id}}/delete" method="post" style="display:inline;">
      <button type="submit">刪除</button>
    </form>
  </li>
  {{/each}}
</ul>